
/* Add in Chatype Font face */
/*
@font-face {
  font-family: 'Chatype-Light';
  src: url("fonts/Chatype-Light/chatypeb2.1thin-webfont.eot");
  src: url("fonts/Chatype-Light/chatypeb2.1thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Chatype-Light/chatypeb2.1thin-webfont.woff") format("woff"), url("fonts/Chatype-Light/chatypeb2.1thin-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html, 
button,
input,
select,
textarea,
body {
  font-family: 'Chatype-Light';
}
*/


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas, #map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map-canvas, #map_canvas {
    height: 650px;
  }
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

.mapControlBox {
   position: absolute;
   background-color: white;
   font-family: sans-serif;
   padding: 5px;
   border: 1px solid black;
   z-index: 100;
   -moz-box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
}

#yearFilter {
   top: 60px;
   right: 10px;
}

#homeControl {
   top: 10px;
   right: 100px;
}